@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

*,
html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(228, 228, 228);
}

.search-form-outline {
    width: 70%;
}

.show-checkbox {
    margin-right: 0.5vw;
}

.fluid-container {
    width: 70%;
    margin: auto;
}

.card-container .row {
    margin: 0 !important;
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.container-title {
    background-color: rgb(209, 209, 209);
    height: 5vh;
    flex-wrap: nowrap !important;
}

.container-title h5 {
    margin: 0;
    font-size: 1em;
    width: auto !important;
}

.container-title a {
    text-decoration: none;
    width: auto;
}

.container-body {
    background-color: white;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    padding: 1.5vh 0 1.5vh 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.container-body-details {
    background-color: white;
    flex-wrap: wrap;
    padding: 1.5vh 0 1.5vh 0;
}

.container-body .col {
    margin-top: 0 !important;
}

.container-body::-webkit-scrollbar {
    height: 1vh;
}

.container-body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.container-body::-webkit-scrollbar-thumb {
    background: #888;
}

.container-body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.detail-card-title {
    font-size: 2em;
}

.col-form-label {
    padding-top: 0;
}

.value-col {
    background-color: rgb(218, 215, 215);
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
}

.image-left {
    border-radius: 5px 0 0 5px;
}

.wrapper {
    overflow-y: hidden;
}

.accordion-container {
    width: 60%;
    margin: auto;
}

.accordion-item {
    margin-bottom: 4vh;
}

.card-link {
    text-decoration: none;
    color: black;
}

ul.pagination {
    margin-top: 10pt;
    display: flex;
    justify-content: end;
    font-size: 12px;
    font-weight: bold;
}

.detail-card-body {
    width: 70%;
}

.manage-container .input-group-header .add-product {
    justify-content: end;
}

.shopping-cart {
    margin: 0 1vw 0 1vw;
}

.fa-shopping-cart {
    color: gray;
}

@media screen and (max-width: 991px) {
    .detail-card-body {
        width: 100%;
    }

    .manage-container {
        width: 90% !important;
    }

    .manage-container .image-container {
        display: flex;
        justify-content: center;
        padding-top: 3vh;
    }

    .manage-container .image-left {
        border-radius: 0;
    }

    .manage-card-body {
        text-align: center;
    }

    .manage-container .card-body {
        justify-content: center !important;
    }
}

@media screen and (max-width: 767px) {
    .row-manage {
        display: block !important;
    }

    .manage-container .input-group-header {
        width: 100% !important;
        margin-bottom: 2vh;
    }

    .manage-container .input-group-header .input-group {
        justify-content: center;

    }

    .manage-container .add-button {
        margin: 0 !important;
    }
}